html{
	height:100%
}

.ui.grid>.centered.column, .ui.grid>.row>.centered.column {
	margin: 10% auto;
	background: rgb(245, 246, 247);
	padding:2rem;
	border-radius: 0.5rem;
}


.form-heading{
	font-size: 1.5rem;
	letter-spacing: 0.3rem;
	color:rgb(121, 118, 118);
}

.ui.form .field>label {
	color:rgb(121, 118, 118);
}

.todo-item{
	background: #f7f7f7;
	height: 40px;
	line-height: 40px;
	color: #666;
}

.todo-item:nth-child(2n){
	background: #fff;
}

.todo-item:hover .delete-button{
	width: 40px;
	transition:0.3s linear;
	opacity:1.0;
} 

.delete-button{
	width:0;
	opacity:0;
}

.ui.list .list>.item>.content, .ui.list>.item>.content {
  line-height: 2.14285714em;
}

.ui.segments:not(.horizontal)>.segment:first-child {
	background:#2980b9;	
	padding: 10px 20px;
	font-size: 24px;
	font-weight:normal; 
	margin:0;
	color: white;
	text-transform: uppercase;
}

.ui.segments{
	margin-bottom: 1rem;
}
.user-link{
	font-weight: bolder;
	margin-left: 0.6rem;
	padding-top:0.5rem;
	transition:0.3s
}

.user-form .ui.button{
	margin-bottom:0.5rem;
	transition:0.3s;
	font-size: 1.3rem;
}

.ui.basic.button{
	font-weight: bolder;
	letter-spacing: 0.2rem
}

.complete{
	text-decoration: line-through;
	font-weight: 100;
}

.pending{
	text-decoration: none;
	font-weight: bolder;
	color:rgb(8, 8, 104);
}

.invalid{
	border-color: red;
}

.valid{
	border-color:rgb(3, 129, 3);
}

.hide{
	visibility: hidden;
	transform: 2s;
}

.show{
	font-size: 12px;
	color:red;
	visibility: visible;
	transform: 2s;
}

