html{
	height:100%
}

.ui.raised.segment, .ui.raised.segments {
  margin-top: 10%;
}


.todo-item{
	background: #f7f7f7;
	height: 40px;
	line-height: 40px;
	color: #666
}

.todo-item:nth-child(2n){
	background: #fff;
}

.todo-item:hover .delete-button{
	width: 40px;
	transition:0.3s linear;
	opacity:1.0;
} 

.delete-button{
	width:0;
	opacity:0;
}

.ui.list .list>.item>.content, .ui.list>.item>.content {
  line-height: 2.14285714em;
}

.todo{
  width:33%;
}

.ui.segments:not(.horizontal)>.segment:first-child {
	background:#2980b9;	
	padding: 10px 20px;
	font-size: 24px;
	font-weight:normal; 
	margin:0;
	color: white;
	text-transform: uppercase;
}

.ui.segments{
	margin-bottom: 0;
}
.user-link{
	font-weight: bolder;
	margin-left: 0.6rem;
	padding-top:0.5rem;
	transition:0.3s
}

.submit-button{
	width:16.5rem;
	transition:0.3s
}

.complete{
	text-decoration: line-through;
	font-weight: 100;
}

.pending{
	text-decoration: none;
	font-weight: bolder;
	color:blue
}

.invalid{
	border-color: red;
}

.valid{
	border-color:rgb(3, 129, 3);
}

.hide{
	visibility: hidden;
	transform: 2s;
}

.show{
	font-size: 12px;
	color:red;
	visibility: visible;
	transform: 2s;
}

